body {
    background-image: linear-gradient(#00C4FF,white);
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    height: 100vh;
}


header {
   background-color: #30A2FF;
    color: white; 
    text-align: right;
    padding: .5rem 0;
    border-bottom: solid 1px dimgrey;
    box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

header > a {
    background-color: #30A2FF;
    padding: .75rem 0.5;
    color: white;
    border: solid 1px transparent;
    border-radius: 5px;
    margin-right: .5rem;
    line-height: 1.5rem;
    text-decoration: none;
}

header a:hover {
    background-color: #00C4FF;
    cursor: pointer;
}

.loginWrapper {
    object-position: right;
    margin: .75rem 0.5;
    padding: .25rem;
    margin-right: 1.5rem;
    line-height: 2rem;
    font-size: 1em;

    
    
}

header > h1 {
    text-align: center;
    margin: auto;
    width: 50%;  
    font-size: 4rem;
    font-weight: bold;
    float:left;
    padding-top: 1rem;
}

header > img {
    height: 100px;
    margin:auto;
    float: left;
    padding-bottom: .5rem;
    
}

.signUp {
    margin: auto;
    padding: 1.5rem;
    background-color: white;
    border: solid 1px transparent;
    border-radius: 5px;
    box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signUp  h3 {
    margin: 0 0 .5rem;
    font-size: 3rem;
    text-align: center;
    border: solid 1px #00C4FF;
    background-color: #30A2FF;
    border-radius: 3px;
    color: white;
}

form input, form button {
    width: 100%;
    min-width: 300px;
    box-sizing: border-box;
    margin: .75rem 0;
    padding: .25rem;
    line-height: 1.5rem;
    font-size: 1em;
    border: solid 1px gray;
    border-radius: 5px;
}

form button {
    color: white;
    background-color: #30A2FF;
    cursor: pointer;
}

form button:hover {
    color:white;
    background-color: #00C4FF;
}
footer {
    margin-top: .25rem;
    margin-bottom: 1rem;
    border-top: solid 1px lightgray;
    padding-top: 1rem;
    text-align: center;
    -webkit-box-reflect: below 0px linear-gradient( rgba(0,0,0,0.0),rgba(0,0,0,0.2));
}

footer img {
    margin: 0 .5rem
}

footer img:hover {
    cursor: pointer;
}